$salmon: hsla(0, 100%, 74%, 1);
$green: hsla(154, 59%, 51%, 1);
$blue: hsla(248, 32%, 49%, 1);
$black: hsla(249, 10%, 26%, 1);
$gray: hsla(252, 4%, 44%, 1);
$light-gray: hsla(0, 0%, 87%, 1);
$light-blue: hsla(246, 25%, 77%, 1);
$white: hsla(0, 0%, 100%, 1);
