$black: rgba(21, 21, 21, 1);
$gray: rgba(217, 217, 217, 1);
$dark-gray: rgba(36, 36, 36, 1);
$soft-gray: rgba(217, 217, 217, 1);
$white: rgba(255, 255, 255, 0.975);
$green: rgba(78, 225, 160, 1);
