@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* this fixes the error in the animation that was displaying the scrollbar */
/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.heading-xl {
  font-family: "Space Grotesk";
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
  color: rgba(255, 255, 255, 0.975);
}

.heading-l {
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.5px;
  color: rgba(255, 255, 255, 0.975);
}

.heading-m {
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  color: rgba(255, 255, 255, 0.975);
}

.body {
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  color: rgb(217, 217, 217);
}

.logo {
  font-family: "Space Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.444px;
  color: rgba(255, 255, 255, 0.975);
}

@keyframes cube {
  0% {
    transform: scaleY(1) translateY(-26px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
  50% {
    transform: scaleY(0.6) translateY(0px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: scaleY(1) translateY(-26px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(-80px);
  }
}
@keyframes miniSlideDown {
  0% {
    opacity: 0;
    max-height: 0px;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
}
body {
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: "Space Grotesk", sans-serif;
  background: rgb(21, 21, 21);
  color: rgba(255, 255, 255, 0.975);
}

.container {
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (max-width: 840px) {
  .container {
    padding-inline: 40px;
  }
}

@media (max-width: 840px) {
  .heading-xl {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.045px;
  }
}
@media (max-width: 600px) {
  .heading-xl {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.045px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-inline-end: 30px;
}
@media (max-width: 600px) {
  nav {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    margin-inline-end: unset;
  }
}

path {
  fill: rgba(255, 255, 255, 0.975);
  transition: 0.5s ease;
  padding: 2px;
}
path:hover {
  transform: scale(0.9);
  fill: rgb(78, 225, 160);
  color: rgb(78, 225, 160);
  transition: 0.5s ease;
}

.hero-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 260px;
  position: relative;
}
@media (max-width: 840px) {
  .hero-section {
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .hero-section {
    text-align: center;
    flex-direction: column-reverse;
  }
}
.hero-section h1 {
  margin-top: 126px;
  text-align: left;
  padding-bottom: 40px;
  max-width: 706px;
}
@media (max-width: 840px) {
  .hero-section h1 {
    max-width: 426px;
  }
}
@media (max-width: 600px) {
  .hero-section h1 {
    margin-top: unset;
    max-width: 340px;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
  }
}
.hero-section p {
  max-width: 445px;
  padding-bottom: 66px;
  max-width: 426px;
}
.hero-section span {
  display: inline-block;
  border-bottom: 5px solid rgb(78, 225, 160);
}
@media (max-width: 840px) {
  .hero-section span {
    padding-top: 12px;
  }
}
.hero-section::before {
  content: url(../assets/images/pattern-rings.svg);
  position: absolute;
  top: 70px;
  left: -232px;
  overflow: hidden;
  z-index: -5;
}

.hero-section a,
.portfolio a,
button {
  position: relative;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.hero-section a:hover,
.portfolio a:hover,
button:hover {
  color: rgb(78, 225, 160);
}
.hero-section a:after,
.portfolio a:after,
button:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: rgb(78, 225, 160);
  transition: width 0.5s ease;
}
.hero-section a:hover::after,
.portfolio a:hover::after,
button:hover::after {
  width: 3%;
  color: rgb(78, 225, 160);
  transition: width 0.6s ease;
}

.logo {
  position: relative;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.logo:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: rgb(78, 225, 160);
  transition: width 0.5s ease;
}
.logo:hover::after {
  width: 100%;
  color: rgb(78, 225, 160);
  transition: width 0.6s ease;
}

.profile-picture {
  z-index: -6;
  position: absolute;
  right: 20px;
  top: -72px;
  max-width: 445px;
}
@media (max-width: 840px) {
  .profile-picture {
    right: 0;
    top: -100px;
    height: 580px;
    max-width: 350px;
  }
}
@media (max-width: 600px) {
  .profile-picture {
    position: unset;
    right: unset;
    top: unset;
    z-index: -1;
    transform: translateY(-200px);
  }
}
.profile-picture::before {
  content: url(../assets/images/pattern-circle.svg);
  position: absolute;
  bottom: 108px;
  right: 378px;
  height: 120px;
  z-index: 5;
}
@media (max-width: 840px) {
  .profile-picture::before {
    display: none;
  }
}

hr {
  margin-bottom: 72px;
}

.footer-hr {
  background: rgb(36, 36, 36);
  margin-top: 140px;
  max-width: 1110px;
  margin-inline: auto;
}

.experience {
  margin-bottom: 104px;
}

.experience ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  row-gap: 58px;
  justify-items: start;
}
@media (max-width: 600px) {
  .experience ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

a,
h4,
.projects span,
button {
  text-transform: uppercase;
}

form::-moz-placeholder, textarea::-moz-placeholder, input::-moz-placeholder {
  text-transform: uppercase;
}

form::placeholder,
textarea::placeholder,
input::placeholder {
  text-transform: uppercase;
}

.contact-box input:focus,
.contact-box textarea:focus {
  border-bottom: 1px solid rgb(78, 225, 160);
}

h3 + p,
h4:hover + div > span {
  transition: 0.6s ease;
  position: relative;
}

h3:hover + p,
h4:hover + div > span {
  color: rgb(78, 225, 160);
  transition: 0.6s ease;
}

.project-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 140px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 80px;
}
@media (max-width: 600px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
}
.projects .overlay {
  position: relative;
  display: inline-block;
}
.projects .overlay:hover .links {
  opacity: 1; /* Torna os links visíveis durante o hover */
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.projects .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.projects .links a {
  display: inline-block;
  margin: 10px;
  transition: all 0.3s ease;
}
.projects .overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(21, 21, 21);
  opacity: 0;
  transition: all 0.3s ease;
}
.projects .overlay:hover::before {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.projects .overlay picture {
  overflow: hidden;
  padding-bottom: 10px;
}
.projects h4 {
  cursor: pointer;
  padding-bottom: 8px;
}
@media (max-width: 600px) {
  .projects h4 {
    font-size: 20px;
  }
}
.projects h4:hover {
  opacity: 0.9;
}
.projects span {
  color: rgb(217, 217, 217);
}
.projects .skills {
  display: flex;
  justify-content: unset;
  align-items: unset;
  gap: 18px;
}
.projects .project-code {
  display: none;
}
@media (max-width: 840px) {
  .projects .project-code {
    display: flex;
    margin-top: 20px;
    gap: 30px;
  }
}

.contact {
  background: rgb(36, 36, 36);
}

.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 220px;
  padding-top: 120px;
}
.contact-box .input-name {
  position: relative;
}
.contact-box .form-name,
.contact-box .form-email,
.contact-box .form-message {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  text-align: left;
}
.contact-box .error-icon,
.contact-box .icon-name,
.contact-box .icon-email,
.contact-box .icon-message {
  display: none;
  position: absolute;
  right: 4px;
  bottom: 0;
  top: 28px;
}
@media (max-width: 840px) {
  .contact-box {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: stretch;
    padding-inline: 100px;
  }
}
@media (max-width: 600px) {
  .contact-box {
    display: flex;
    gap: 32px;
    text-align: center;
    align-items: stretch;
    padding-inline: 20px;
  }
}
.contact-box h2 {
  margin-bottom: 32px;
}
.contact-box .contact-title,
.contact-box form {
  margin-bottom: 146px;
}
@media (max-width: 600px) {
  .contact-box .contact-title,
  .contact-box form {
    margin-bottom: 40px;
  }
}
@media (max-width: 840px) {
  .contact-box .contact-title {
    margin-bottom: 0;
  }
}
.contact-box input,
.contact-box textarea {
  border: initial;
  outline: initial;
  background-color: initial;
  resize: initial;
  color: rgba(255, 255, 255, 0.975);
  margin-top: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.contact-box form {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
}
.contact-box button {
  margin-top: 18px;
  align-self: end;
}
@media (max-width: 600px) {
  .contact-box button {
    align-self: center;
  }
}

.error-message {
  display: flex;
  opacity: 0;
  color: rgb(255, 111, 91);
  margin-top: 10px;
  align-self: right;
}

footer {
  background: rgb(36, 36, 36);
}

.footer-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 90px;
}
@media (max-width: 600px) {
  .footer-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 40px;
    flex-direction: column;
    gap: 20px;
  }
}
.footer-itens ul {
  display: flex;
  justify-content: unset;
  align-items: unset;
  gap: 32px;
}/*# sourceMappingURL=style.css.map */